{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    {% if source_type == 'vkplay' %}
        {% set new_url = url_for('panel.new_vkplay_source') %}
    {% elif source_type == 'goodgame' %}
        {% set new_url = url_for('panel.new_goodgame_source') %}
    {% endif %}
    <center><a class="btn btn-primary" href="{{ new_url }}">Добавить {{ source_name }} стрим</a></center>

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Ваши источники</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Live Now</th>
                            <th>Активен</th>
                            <th>Создан</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for source in sources %}
                        {% if source_type == 'vkplay' %}
                            {% set edit_url = url_for('panel.vkplay_edit', vkplay_id=source.id) %}
                        {% elif source_type == 'goodgame' %}
                            {% set edit_url = url_for('panel.edit_goodgame_source', source_id=source.id) %}
                        {% endif %}
                        <tr>
                            <td><a href="{{ edit_url }}">{{ source.channel_name|truncate(24, True) }}</a></td>
                            <td>{{ source.is_live_now }}</td>
                            <td>{{ source.is_active }}</td>
                            <td>{{ source.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}