{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">{% if is_new %}Добавление источника{% else %}Редактирование источника{% endif %}: VKPlay.live</h1>
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5">
                   <form method="POST" action="{{ form_action }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="controlChannelName">Название канала</label>
                        {{ form.channel_name }}
                    </div>
                    <div class="mb-3">
                        <label for="controlChannelLink">Ссылка на канал</label>
                        {{ form.channel_link }}
                    </div>
                    <div class="mb-3">
                        <label for="controlChannelActionType">Выберите событие</label>
                        {{ form.action_type }}
                    </div>
                    <div class="mb-3">
                        <label for="controlChannelBot">Выберите бота</label>
                       {{ form.bot }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlImage">Картинка</label>
                        <input type="file" id="exampleFormControlImage" name="action_image" accept="image/*">
                        {% if source and source.action_image %}
                            <img src="/{{ source.action_image }}" width="200px">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="controlChannelActionText">Текст для пересылки боту. Доступные переменные: {{ '{{ channel_name }}' }}, {{ '{{ channel_link }}' }}</label>
                        {{ form.action_text }}
                    </div>
                    {% if source %}
                    <div class="mb-3">
                        <label for="checkIsActive">Активно</label>
                        {{ form.is_active }}
                    </div>
                    {% endif %}
                       <br>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Сохранить</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}