{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">{% if is_new %}Добавление источника{% else %}Редактирование источника{% endif %}: VKPlay.live</h1>
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5">
                   <form method="POST" action="{{ form_action }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1">Имя канала</label>
                        {{ form.twitch_channel_name }}
                    </div>
                    <div class="mb-3">
                        <label for="controlUsername">Ваш username: {{ username }}</label>
                        {{ form.twitch_username }}
                    </div>
                    <div class="mb-3">
                        <label for="controlLink">Ссылка на twitch-канал: {{ username }}</label>
                        {{ form.twitch_link }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Выберите cобытие</label>
                        {{ form.twitch_action }}
                    </div>
                    <div class="mb-3">
                        <label>Выберите бота</label>
                       {{ form.bot }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlImage">Картинка</label>
                        <input type="file" id="exampleFormControlImage" name="twitch_action_image" accept="image/*">
                        {% if source.image %}
                            <img src="/{{ source.image.attachment_filename }}" width="200px">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">Текст для пересылки боту. Доступные переменные: {{ '{{ username }}' }}, {{ '{{ twitch_link }}' }}</label>
                        {{ form.twitch_action_text }}
                    </div>
                    <div class="mb-3">
                        <label for="flexCheckDefault">Активно</label>
                        <input class="form-control" id="flexCheckDefault" type="checkbox" name="is_active" value="is_active" {% if source.is_active%}checked{% endif %}>
                    </div>
                       <br>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Сохранить</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}