{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->

<div class="container-fluid">
    <center><a class="btn btn-primary" href="{{ url_for('panel.new_twitch_source') }}">Добавить twitch</a></center>
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Ваши источники</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        {% if twitch_sources %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Имя канала</th>
                            <th>Создан</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for twitch_source in twitch_sources %}
                        {% set webhook_key = twitch_source.id|string() + '_' + twitch_source.tgbot_id|string() %}
                        {% set button_text = 'Активировать' %}
                        {% set form_url = url_for('panel.activate_webhook') %}
                        {% if webhook_statuses[webhook_key] == 'enabled' %}
                            {% set button_text = 'Деактивировать' %}
                            {% set form_url = url_for('panel.deactivate_webhook') %}
                        {% endif %}
                        <tr>
                            <td><a href="/panel/twitch/edit/{{ twitch_source.id }}/">{{ twitch_source.channel_name|truncate(24, True) }}</a></td>
                            <td>{{ twitch_source.created_at }}</td>
                            <td>{{ webhook_statuses[webhook_key] }}</td>
                            <td align="center">
                                <form action="{{ form_url }}" method="POST">
                                    <input type="hidden" name="tgbot_id" value="{{ twitch_source.tgbot_id }}">
                                    <input type="hidden" name="twitch_id" value="{{ twitch_source.id }}">
                                    <button class="btn btn-secondary" type="submit">{{ button_text }}</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}