{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <center><a class="btn btn-primary" href="{{ url_for('panel.new_vkplay_source') }}">Добавить VKPlay.live стрим</a></center>

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Ваши источники</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Live Now</th>
                            <th>Активен</th>
                            <th>Создан</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vkplay_stream in vkplay_streams %}
                        <tr>
                            <td><a href="{{ url_for('panel.vkplay_edit', vkplay_id=vkplay_stream.id) }}">{{ vkplay_stream.channel_name|truncate(24, True) }}</a></td>
                            <td>{{ vkplay_stream.is_live_now }}</td>
                            <td>{{ vkplay_stream.is_active }}</td>
                            <td>{{ vkplay_stream.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}