{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">{% if is_new %}Добавить{% else %}Редактировать{% endif %} бота: Telegram</h1>

    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5">
                   <form method="POST" action="{{ form_action }}" enctype=multipart/form-data>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1">Имя бота</label>
                        {{ form.bot_name }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2">Ключ бота (Пример: 5311630810:AAHuzUOGtezAG-HBuSLaUNTrpzgadZf3YgZ)</label>
                        {{ form.bot_key }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3">Список каналов (Пример: -1001499434368,-1022827366251)</label>
                        {{ form.bot_channels }}
                    </div>
                    {% if bot %}}
                    <div class="mb-3">
                        <label for="flexCheckDefault">Активно</label>
                        <input class="form-control" id="flexCheckDefault" type="checkbox" name="is_active" value="is_active" {% if bot and bot.is_active %}checked{% endif %}>
                    </div>
                    {% endif %}
                       <br>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Сохранить</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}