Flask==2.2.2
Flask-Admin==1.6.0
Flask-Login==0.6.2
Flask-Uploads==0.2.1
psycopg2-binary==2.9.5
twitchAPI==3.7.0
bcrypt==4.0.1
alembic==1.9.2
python-dotenv==0.21.1
httpx[http2]==0.23.3
WTForms==3.0.1
pyTelegramBotAPI==4.9.0
SQLAlchemy==2.0.1
click==8.1.3