{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Редактировать источник: Twitch</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <br>
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                <center>{{ message }}</center>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if form.errors %}
        <br>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                <center>{{ field }}: {{ error }}</center>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5">
                   <form method="POST" action="/panel/twitch/edit/{{ source.id }}/" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1">Имя канала</label>
                        {{ form.twitch_channel_name }}
                    </div>
                    <div class="mb-3">
                        <label for="controlUsername">Ваш username: {{ username }}</label>
                        {{ form.twitch_username }}
                    </div>
                    <div class="mb-3">
                        <label for="controlLink">Ссылка на twitch-канал: {{ username }}</label>
                        {{ form.twitch_link }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Выберите cобытие</label>
                        {{ form.twitch_action }}
                    </div>
                    <div class="mb-3">
                        <label>Выберите бота</label>
                       {{ form.bot }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlImage">Картинка</label>
                        <input type="file" id="exampleFormControlImage" name="twitch_action_image" accept="image/*">
                        {% if source.image %}
                            <img src="/{{ source.image.attachment_filename }}" width="200px">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">Текст для пересылки боту. Доступные переменные: {{ '{{ username }}' }}, {{ '{{ twich_link }}' }}</label>
                        {{ form.twitch_action_text }}
                    </div>
                    <div class="mb-3">
                        <label for="flexCheckDefault">Активно</label>
                        <input class="form-control" id="flexCheckDefault" type="checkbox" name="is_active" value="is_active" {% if source.is_active%}checked{% endif %}>
                    </div>
                       <br>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Сохранить</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}