{% extends 'base_panel.html' %}
{% block content %}
<!-- Begin Page Content -->

<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <br>
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                <center>{{ message }}</center>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <a class="btn btn-primary" href="/panel/twitch/new/">Добавить twitch</a>
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Ваши источники</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        {% if twitch_sources %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Имя канала</th>
                            <th>Создан</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for twitch_source in twitch_sources %}
                        <tr>
                            <td><a href="/panel/twitch/edit/{{ twitch_source.id }}">{{ twitch_source.channel_name|truncate(24, True) }}</a></td>
                            <td>{{ twitch_source.created_at }}</td>
                            <td>Не активен</td>
                            <td align="center">
                                <form action="{{ url_for('panel.activate_webhook') }}" method="POST">
                                    <input type="hidden" name="tgbot_id" value="{{ twitch_source.tgbot_id }}">
                                    <input type="hidden" name="twitch_id" value="{{ twitch_source.id }}">
                                    <button class="btn btn-secondary" type="submit">Активировать</button>
                                </form>
</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}