<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/panel/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TG-Notifier <sup>v1 (beta)</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/panel/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Главная</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Меню
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/panel/bots/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Список TG-ботов</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/panel/sources/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Список источников</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/logout/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Выйти</span></a>
    </li>

</ul>
<!-- End of Sidebar -->